body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.calculator {
  box-sizing: border-box;
  width: 400px;
  height: 80vh;
}

span {
  padding: 1rem;
  font-size: 3rem;
  background-color: black;
  color: white;
  height: 70px;
  display: flex;
  align-items: center;
}

button {
  width: 100px;
  height: 100px;
  font-size: 2rem;
  border-radius: 0;
  border-color: white;
  cursor: pointer;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}